@media (max-width:575px) {
    /* xs */
    .col-xs-1{width: 8.3333%;}
    .col-xs-2{width: 16.6666%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.3333%;}
    .col-xs-5{width: 41.6666%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.3333%;}
    .col-xs-8{width: 66.6666%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.3333%;}
    .col-xs-11{width: 91.6666%;}
    .col-xs-12{width: 100%;}
    .container{
        max-width: 100%;
    }
    .footer-border img {
        /* margin: auto; */
        width: 371px;
    }
    .PADDING-TOP-2 {
        margin-top: 336%;
    }
    .banner-content h2 {
        font-size: 37px;
        padding-top: 1%;
        color: white;
        text-align: center;
        margin-bottom: 10px;
    }
     .edit-p p{
        margin-left: -57px;
    margin-top: 41px;
     }
     .edit-footer-second{
        margin: auto;
     }
     .edit-footer-third{
        margin: auto;
     }
   
    .register-btn {
        margin-top: 7px;
        padding-bottom: 0;
    }
    .banner-content p {
        font-size: 10px;
    }
    .register-box {
        margin-left: 9%;
    }
    .register-btn button {
        padding: 9px 25px;
        border-radius: 35px;
        font-size: 18px;
        background: linear-gradient(90deg, rgba(48,66,138,1) 35%, rgba(101,45,149,1) 100%);
        border: none;
        color: white;
    }
    .padding-top {
        padding-top: 0;
    }
    .first-part p {
        margin-bottom: 26px;
    }
    .register-btn-2 button {
        padding: 9px 33px;
        font-size: 19px;
    }
    .first-part {
        text-align: center;
    }
    .box-1 {
        margin-left: 83px;
    }
    .box-2 {
        margin-left: 83px;
    }
    .box-3{
        margin-left: 82px;
    }
    .box-4 {
        margin-left: 84px;
    }
    .p-t{
        padding-top: 0;
    } 
    .register-box {
        width: 160%;
    }
    .register-content h3 {
        font-size: 30px;
        text-align: center;
    }
    .register-content p {
        font-size: 15px;
        text-align: center;
    }
    .count-1 h4 {
        font-size: 25px;
    }
    .count-1 span {
        font-size: 22px;
       
    }
    .event-header h1 {
        font-size: 33px;
     
    }
    .event-header h3 {
        font-size: 25px;

    }
    .event-header p {
        font-size: 15px;
    }
    .date {
       
        top: 37%;
      
    }
    .testimoniyal-slider .owl-carousel .owl-nav button.owl-next,
.testimoniyal-slider  .owl-carousel .owl-nav button.owl-prev{
    display: none;
}
.event-box {
    margin-right: 0;
}
.testimoniyal-section {
    background-image: url(../images/Group\ 84.jpg);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.p-t-1{
    margin-top: 0;
}
.border-img {
    margin: auto;
    text-align: center;
    margin-top: 12px;
}
.logo img{
    width: 58%;
    margin-left: 18px;
}

}
@media (min-width:576px) and (max-width:767px) {
    /* sm  */
    .col-sm-1{width: 8.3333%;}
    .col-sm-2{width: 16.6666%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.3333%;}
    .col-sm-5{width: 41.6666%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.3333%;}
    .col-sm-8{width: 66.6666%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.3333%;}
    .col-sm-11{width: 91.6666%;}
    .col-sm-12{width: 100%;}
    .container{
        max-width: 540px;
    }

    .testimoniyal-slider .owl-carousel .owl-nav button.owl-next,
.testimoniyal-slider  .owl-carousel .owl-nav button.owl-prev{
    display: none;
}
}
@media (min-width:768px) and (max-width:991px) {
    /* md  */
    .col-md-1{width: 8.3333%;}
    .col-md-2{width: 16.6666%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.3333%;}
    .col-md-5{width: 41.6666%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.3333%;}
    .col-md-8{width: 66.6666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.3333%;}
    .col-md-11{width: 91.6666%;}
    .col-md-12{width: 100%;}
    .container{
        max-width: 720px;
    }
    .testimoniyal-slider .owl-carousel .owl-nav button.owl-next,
    .testimoniyal-slider  .owl-carousel .owl-nav button.owl-prev{
        display: none;
    }
    .PADDING-TOP-2 {
        margin-top: 112%;
    }
    .boxes-1{
        margin-top: 26px;
    }
    .box-3 {
        border: 1px solid #808080;
        border-radius: 10px;
        padding: 22px 10px;
        margin-right: 5px;
        margin-left: 49px;
        margin-bottom: 50px;
    }
    .box-2 {

        margin-right: 5px;
        margin-left: -11px;
        margin-top: 20px;
        margin-bottom: 33px;
    }
    .box-1 {
        border: 1px solid #808080;
        border-radius: 10px;
        padding: 20px 20px;
        margin-right: 53px;
        margin-left: 47px;
        margin-bottom: 50px;
    }
    .first-part {
        text-align: center;
    }
    .padding-top {
        margin-top: 0px;
    }
    .register-box {
        position: relative;
        overflow: hidden;
    }
    .register-box {
        background-color: white;
        width: 160%;
        /* height: 333px; */
        border-radius: 10px;
        padding: 16px;
    }
    .register-content {
        text-align: center;
    }
    .register-box {
        margin-left: 85%;
    }
    .date {
        position: absolute;
        top: 35%;
        left: 19px;
    }
    .testimoniyal-section {
        background-image: url(../images/Group\ 84.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        /* height: 100vh; */
    }
    
    .banner-content p {
        font-size: 12px;
    }
    .banner-content h2 {
        font-size: 39px;
        padding-top: 0%;
    }
    .register-btn {
        
        padding-bottom: 0;
    }
    .footer-second {
        margin-left: 0;
    }
    .edit-p p {
        margin-left: -62px;
    margin-top: 36px;
    }
    .edited-boxes{
        margin-left: 106px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    /* lg  */
    .col-lg-1{width: 8.3333%;}
    .col-lg-2{width: 16.6666%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.3333%;}
    .col-lg-5{width: 41.6666%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.3333%;}
    .col-lg-8{width: 66.6666%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.3333%;}
    .col-lg-11{width: 91.6666%;}
    .col-lg-12{width: 100%;}
    .container{
        max-width: 960px;
    }
    .testimoniyal-slider .owl-carousel .owl-nav button.owl-next,
    .testimoniyal-slider  .owl-carousel .owl-nav button.owl-prev{
        display: none;
    }
    .footer-btn button {
        padding: 14px 69px;
        font-size: 19px;
        margin-left: -5px;
        border-radius: 11px;
        border: none;
        background: linear-gradient(90deg, rgba(48,66,138,1) 0%, rgba(101,45,149,1) 66%);
        color: white;
        margin-bottom: 20px;
    }
    .footer-form {
        padding: 16px 0px;
        font-size: 15px;
        border: none;
        outline: none;
        padding-left: 30px;
        margin-left: -19px;
        border-radius: 9px;
        margin-top: 10px;
    }
    .logo-content h3 {
        margin-left: -26px;
    }
    .facebook {
        margin-right: 3px;
       
    }
    .instagram
    {
        margin-right: 3px;
    }
    .whatsapp{
        margin-right: 3px;
    }
    .testimoniyal.owl-carousel .owl-item img {
        width: 10%;
        margin: auto;
        margin-top: -63px;
        padding-top: -215px;
    }
    .testimoniyal-section {
        background-image: url(../images/Group\ 84.jpg);
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        background-size: contain;
    }
    .date {
        position: absolute;
        top: 32%;
        left: 19px;
    }
    .event-box-content {
        margin-top: 53px;
        padding: 0 10px;
    }
    .watch p {
        font-size: 13px;
    }
    .watch i {
        font-size: 18px;
        margin-right: 15px;
    }
    .PADDING-TOP-2 {
        margin-top: 33%;
    }
    .btn-primary button {
        margin-left: -58px;
    }
    .boxes-1 {
        margin-top: 51px;
    }
    .box-1 {
        margin-left: -72px;

    }
    .box-3 {
        margin-left: -68px;
       
    }
    .first-part h2 {
        
        font-size: 27px;
        
    }
    .first-part p {
      
        font-size: 16px;
      
    }
    header nav  {
        margin-left: -96px;
    }
    header nav ul li a {
        font-size: 14px;
    }
    .icons {
        margin-left: -94px;
    }
    .logo img {
        width: 68%;
    }
    nav ul {
        margin-right: 44px;
    }
}
@media (min-width:1200px) {
    /* lg  */
    .col-xl-1{width: 8.3333%;}
    .col-xl-2{width: 16.6666%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.3333%;}
    .col-xl-5{width: 41.6666%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.3333%;}
    .col-xl-8{width: 66.6666%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.3333%;}
    .col-xl-11{width: 91.6666%;}
    .col-xl-12{width: 100%;}
    
}

@media screen and (max-width:912px){


    nav {
        position: absolute;
        width: 100%;
        height: auto;
        top: -422%;
        right: 0px;
        background-color: #d2c2e0;
        transition: all 0.5s;
        z-index: 99;
    }

    nav ul {
        flex-direction: column;
    }
    
    nav ul li a {
        color: white;
        display: block;
        line-height: normal;
        padding: 15px 20px;
        text-align: center;
        border-bottom: 2px solid white;
        margin: 0 0;
    }
    .show nav {
        right: 0;
        top: 96px;
    }
    nav ul li {
        margin-left: 0px;
    }
}
@media (min-width:360px) and (max-width:415px){
    .banner-content h2 {
        font-size: 18px;
    }
    .banner-content p {
        font-size: 11px;
    }
    .register-box {
        width: 139%;
    }
    .logo img {
        width: 70%;
    margin-left: 13px;
    }
    .count-1 {
        margin-right: 1px;
        color: white;
        margin-left: 24px;
    }
    .register-btn button {
        padding: 7px 14px;
        border-radius: 35px;
        font-size: 13px;
        background: linear-gradient(90deg, rgba(48,66,138,1) 35%, rgba(101,45,149,1) 100%);
        border: none;
        color: white;
    }
}
 @media (max-width:280px) {
.logo img {
    width: 57%;
    margin-left: 10px;
}
.first-icon {
    margin-right: 10px;
    border: 2px solid #603286;
    padding: 7px 12px;
    border-radius: 100%;
}
.third-icon {
    margin-right: 6px;
    border: 2px solid #603286;
    padding: 9px 11px;
    border-radius: 100%;
}
.toggle {
    margin-right: 7px;
    border: 2px solid #603286;
    padding: 9px 11px;
    border-radius: 100%;
}
.box-1 {
    margin-left: 25px;
}
.box-2 {
    margin-left: 27px;
}
.box-3 {
    margin-left: 28px;
}
.box-4 {
    margin-left: 28px;
}
.PADDING-TOP-2 {
    margin-top: 390%;
}
.tutories-content h1 {
 
    font-size: 20px;
   
}
.tutories-content h3 {
    font-size: 22px;
}
.img-2 img{
    margin-left: -10px;
}
.img-3 img{
    margin-left: -39px;
}
.register-box p {
    font-size: 12px;
}
.register-box h2 {
    font-size: 15px;
}
.register-box {
    width: 106%;
}
.date {
    top: 25%;
}
.footer-form {
    padding: 16px 0px;
    font-size: 17px;
    border: none;
    outline: none;
    padding-left: -8px;
    margin-left: -9px;
    padding-left: 20px;
    border-radius: 9px;
    margin-top: 10px;
}
.footer-btn button {
    
    margin-left: 0px;
    padding-left: 55px;
}
.copy-right h5 {
   
    font-size: 11px;
    
}
.banner-content h2 {
    font-size: 13px;
    padding-top: 0%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.banner-section {
    background-image: url(../images/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */
}
 .register-btn button {
    padding: 9px 13px;
    border-radius: 35px;
    font-size: 12px;
    background: linear-gradient(90deg, rgba(48,66,138,1) 35%, rgba(101,45,149,1) 100%);
    border: none;
    color: white;
}
.banner-content p {
    font-size: 6px;
}
.first-part h5 {
    font-size: 22px;
}
.first-part h2 {
    font-size: 19px;
 
}
.first-part p {
    font-size: 13px;
}
.courses-title h2 {
    font-size: 24px;
}
.courses-title h1 {
    font-size: 31px;
}
.courses-section {
    background-color: #F4F4F4;
    height: 352px;
}
.service-content h5 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.service-content p{
    font-size: 12px;
}
.btn-primary button {
    margin-left: -80px;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
}
.watch i {
    font-size: 16px;
    margin-right: 15px;
}
.watch p{
    font-size: 12px;
}
.event-box-content {
    margin-top: 40px;
    padding: 0 10px;
}
.date {
    top: 35%;
}
} 